{% extends 'layouts/base.html' %}

{% block title %}Photo Thumbnails{% endblock %}
{% block meta_description %}Unlabeled Photo Archive{% endblock %}

{% block body %}
  <div class="container sm-margin-top">
    <div class="row text-center lg-margin-bottom">
      <h1></h1>
      <h3 class="text-muted">
        Please help label the photos shown below!
      </h3>
      <p class="text-muted">
        INSTRUCTIONS: </br> 1. Select a photo to get started. </br> 2. Add comments so I can correctly title and categorize each photo.</li>
      </p>
    </div>
  </div>
{% endblock %}
